<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-EarthAndMoon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6B09F5A200F45A000BB0293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6B09F73200F45A000BB0293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6B09F7E200F45A000BB0293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
